@model eMobile.Models.Product

<form method="post">
    <div class="container backgroundWhite">
        <div class="card">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6">
                    <h2 class="text-danger">@Model.Name</h2>
                    <p class="text-warning">by @Model.Brand.Name</p>
                </div>
                <div class="col-12 col-md-6 text-md-right pt-4">
                    <h4 style="color: darkblue">Price:&nbsp &nbsp &nbsp &nbsp <b class="">@Model.Price.ToString("c")</b></h4>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-1">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h6>Operating System:</h6></div>
                                <div class="col-3 text-primary"><h7>@Model.OpSystem.Name</h7></div>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h6>Dimensions:</h6></div>
                                <div class="col-3 text-primary"><h7>@Model.Dimensions</h7></div>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h6>Display Size:</h6></div>
                                <div class="col-3 text-primary"><h7>@Model.DisplaySize</h7></div>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h6>Resolution:</h6></div>
                                <div class="col-3 text-primary"><h7>@Model.Resolution</h7></div>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h7>Weight:</h7></div>
                                <div class="col-3 text-primary"><h6>@Model.Weight</h6></div>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h6>CPU:</h6></div>
                                <div class="col-3 text-primary"><h7>@Model.CPU</h7></div>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h6>ROM Memory:</h6></div>
                                <div class="col-3 text-primary"><h7>@Model.RomMemory</h7></div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5 offset-lg-1 text-center">
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                            </a>
                            <div class="slider-inner">
                                <img src="@Model.FileUrl"  class="rounded active" />
                                @foreach (var item in @ViewBag.photoes)
                                {

                                    <img src="~/images/photos/@item.Name"class="rounded" />

                                }
                            </div>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</form>





@section Scripts{
    <script src="~/js/slider.js"></script>
}
